In [1]:
import pandas as pd

df = pd.read_parquet('df_final.parquet.gzip')
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
0,2019-10-16 12:04:37+00:00,view,7900918,2053013556487520725,furniture.kitchen.chair,joie,102.709999,560842110
1,2019-10-16 12:04:37+00:00,view,1003317,2053013555631882655,electronics.smartphone,apple,952.150024,560842739
2,2019-10-16 12:04:37+00:00,view,2501929,2053013564003713919,appliances.kitchen.oven,asel,61.750000,525817175
3,2019-10-16 12:04:37+00:00,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.169998,515456548
4,2019-10-16 12:04:37+00:00,cart,1004836,2053013555631882655,electronics.smartphone,samsung,229.410004,529758564

In [2]:
df.shape

(42448763, 8)

In [3]:
df.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13422656
brand             6011377
price                   0
user_id                 0
dtype: int64

In [4]:
df = df.drop_duplicates()
df.shape

(35350162, 8)

In [5]:
df = df.dropna()
df.shape

(22146517, 8)

In [9]:
df = df.sample(1000000)
df.shape

(1000000, 8)

In [10]:
file_path_parquet = 'df.sample.parquet.gzip'
df.to_parquet(file_path_parquet, compression='gzip')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 6733995 to 3615460
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1000000 non-null  datetime64[ns, UTC]
 1   event_type     1000000 non-null  category
 2   product_id     1000000 non-null  int64
 3   category_id    1000000 non-null  uint64
 4   category_code  1000000 non-null  object
 5   brand          1000000 non-null  object
 6   price          1000000 non-null  float32
 7   user_id        1000000 non-null  int64
dtypes: category(1), datetime64[ns, UTC](1), float32(1), int64(2), object(2), uint64(1)
memory usage: 58.2+ MB