### read_csv
#### header
- header의 default는 첫 행을 컬럼으로 지정
- header=0 하면 되나 싶지만 중간부터 불러오는 경우는 해당 안 됨
- 예를 들어 51행부터 읽어들인다 했을 때, header=0이라고 하면 51번째 행을 컬럼으로 지정함
- header=None으로 한 후 names에서 컬럼을 지정해주어야 함

#### skiprows
- 몇 번째 행까지 스킵할 것인지 설정
- 5번째 행까지 스킵하고 6번째 행부터 읽어들이고 싶다면 skiprows=5라고 설정하면 됨

#### names
- 컬럼으로 사용할 이름을 리스트로 입력

In [1]:
import pandas as pd
import os

# 전체 행: 42448764개
# 0 ~ 42448763
# 불러올 행: 35,373,970 ~ 42,448,764(끝까지)  nrows=7074794
# header=None으로 지정하면 컬럼이 0번째 행으로 들어가게 됨
df = pd.read_csv('../data/2019-Oct.csv', skiprows=35373971, header=None)
df.shape

(7074794, 9)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7074794 entries, 0 to 7074793
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       int64
 3   3       int64
 4   4       object
 5   5       object
 6   6       float64
 7   7       int64
 8   8       object
dtypes: float64(1), int64(3), object(5)
memory usage: 485.8+ MB

In [3]:
col_name = pd.read_csv('../data/2019-Oct.csv', nrows=2).columns.to_list()
col_name

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'user_session']

In [4]:
df.columns = col_name

In [5]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-26 10:48:22 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.99,564338950,2f64f4fd-336b-4d0b-aa87-c4338feaf070
1,2019-10-26 10:48:22 UTC,view,1480558,2053013561092866779,computers.desktop,netechnics,1055.34,564332932,757cee17-5484-47f9-b846-19e20f5af1a6
2,2019-10-26 10:48:22 UTC,view,28718435,2053013565069067197,apparel.shoes.keds,strobbs,34.49,515784126,4dea1ebc-6539-4e9f-aeed-fc90a101290d
3,2019-10-26 10:48:22 UTC,view,1802114,2053013554415534427,electronics.video.tv,kivi,295.25,519151359,8fe5b713-0f71-4864-b256-83bc1e12404c
4,2019-10-26 10:48:22 UTC,view,1005244,2053013555631882655,electronics.smartphone,vivo,463.31,541981959,eb3a9b00-31ea-4aaa-b4f3-0848fcf4d88a

1. user_session 컬럼 삭제
2. 수치형 컬럼 unsigned 타입으로 변경
3. object 타입의 컬럼은 category 타입으로 변경
4. event_time 컬럼은 datetime 타입으로 변경

In [6]:
# user_session 컬럼 삭제
df = df.drop(['user_session'], axis=1)
df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
0,2019-10-26 10:48:22 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.99,564338950
1,2019-10-26 10:48:22 UTC,view,1480558,2053013561092866779,computers.desktop,netechnics,1055.34,564332932

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7074794 entries, 0 to 7074793
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
dtypes: float64(1), int64(3), object(4)
memory usage: 431.8+ MB

In [8]:
# event_time 컬럼은 datetime 타입으로 변경
df['event_time'] = pd.to_datetime(df['event_time'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7074794 entries, 0 to 7074793
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns, UTC]
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(3)
memory usage: 431.8+ MB

In [10]:
# 수치형 컬럼 unsigned 타입으로 변경, object 타입의 컬럼 category 타입으로 변경
for col in df.columns:
    type_name = df[col].dtypes.name
    if type_name.startswith('int'):
        df[col] = pd.to_numeric(df[col], downcast='unsigned')
    elif type_name.startswith('float'):
        df[col] = pd.to_numeric(df[col], downcast='float')
    elif type_name.startswith('object'):
        df[col] = df[col].astype('category')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7074794 entries, 0 to 7074793
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns, UTC]
 1   event_type     category
 2   product_id     uint32
 3   category_id    uint64
 4   category_code  category
 5   brand          category
 6   price          float32
 7   user_id        uint32
dtypes: category(3), datetime64[ns, UTC](1), float32(1), uint32(2), uint64(1)
memory usage: 216.1 MB

### parquet로 저장

In [12]:
file_path_parquet = 'df.parquet.gzip'
df.to_parquet(file_path_parquet, compression='gzip')

In [13]:
pd.read_parquet(file_path_parquet)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
0,2019-10-26 10:48:22+00:00,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.990005,564338950
1,2019-10-26 10:48:22+00:00,view,1480558,2053013561092866779,computers.desktop,netechnics,1055.339966,564332932
2,2019-10-26 10:48:22+00:00,view,28718435,2053013565069067197,apparel.shoes.keds,strobbs,34.490002,515784126
3,2019-10-26 10:48:22+00:00,view,1802114,2053013554415534427,electronics.video.tv,kivi,295.250000,519151359
4,2019-10-26 10:48:22+00:00,view,1005244,2053013555631882655,electronics.smartphone,vivo,463.309998,541981959
...,...,...,...,...,...,...,...,...
7074789,2019-10-31 23:59:58+00:00,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.400024,537931532
7074790,2019-10-31 23:59:58+00:00,view,10800172,2053013554994348409,NaN,redmond,61.750000,527322328
7074791,2019-10-31 23:59:58+00:00,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.699997,566280422
7074792,2019-10-31 23:59:59+00:00,view,21407424,2053013561579406073,electronics.clocks,tissot,689.849976,513118352
7074793,2019-10-31 23:59:59+00:00,view,13300120,2053013557166998015,NaN,swisshome,155.729996,525266378

- DAU, MAU, ARPU, ARPPU, 리텐션(시간 코호트) 분석, RFM, 군집화 등
- user_id별 RFM, 군집화